<!-- <button (click)="generate()">holi</button>
{{resultadoFinal}} - - {{resultado}} -->
    <div class="tokem, ">
        <img src="assets/pulsa.png"     *ngIf="resultadoFinal === 0" class="tokem negro" (click)="generate()">
        <img src="assets/sectario.png"  *ngIf="resultadoFinal === 1" class="tokem verde" (click)="generate()">
        <img src="assets/fallo.png"     *ngIf="resultadoFinal === 2" class="tokem rojo" (click)="generate()">
        <img src="assets/arcano.png"    *ngIf="resultadoFinal === 3" class="tokem azul" (click)="generate()">
        <img src="assets/calavera.png"  *ngIf="resultadoFinal === 4" class="tokem naranja" (click)="generate()">
        <img src="assets/coso.png"      *ngIf="resultadoFinal === 5" class="tokem naranja" (click)="generate()">
        <img src="assets/uno.png"       *ngIf="resultadoFinal === 6" class="tokem verdeC" (click)="generate()">
        <img src="assets/cero.png"      *ngIf="resultadoFinal === 7" class="tokem blanco" (click)="generate()">
        <img src="assets/menos1.png"    *ngIf="resultadoFinal === 8" class="tokem negro" (click)="generate()">
        <img src="assets/menos2.png"    *ngIf="resultadoFinal === 9" class="tokem negro" (click)="generate()">
        <img src="assets/menos3.png"    *ngIf="resultadoFinal === 10" class="tokem negro" (click)="generate()">
        <img src="assets/menos4.png"    *ngIf="resultadoFinal === 11" class="tokem negro" (click)="generate()">
        <img src="assets/menos5.png"    *ngIf="resultadoFinal === 12" class="tokem negro" (click)="generate()">
        <img src="assets/menos6.png"    *ngIf="resultadoFinal === 13" class="tokem negro" (click)="generate()">
        <img src="assets/menos7.png"    *ngIf="resultadoFinal === 14" class="tokem negro" (click)="generate()">
        <img src="assets/menos8.png"    *ngIf="resultadoFinal === 15" class="tokem negro" (click)="generate()">
        <img src="assets/espera.png"    *ngIf="resultadoFinal === 48" class="tokem espera" (click)="generate()">
    </div>
<br>
<br>
<hr>
<hr>
<hr>

<br>
<br>
<div class="botones">
<button class="boton" (click)="Fsectario(-1)"> - </button>
ficha Sectario
<button class="boton" (click)="Fsectario(1)">+</button>
<br> {{sectario}} unidades
<br>
<br>
<button class="boton" (click)="Ffallo(-1)">-</button>
ficha fallo absoluto 
<button class="boton" (click)="Ffallo(1)">+</button><br> 
{{fallo}} unidades
<br>
<br>
<button class="boton" (click)="Farcano(-1)">-</button>
ficha Arcano son
<button class="boton" (click)="Farcano(1)">+</button><br>  {{arcano}} unidades
<br>
<br>
<button class="boton" (click)="Fcalavera(-1)">-</button>
ficha Calavera son 
<button class="boton" (click)="Fcalavera(1)">+</button><br> {{calavera}} unidades
<br>
<br>
<button class="boton" (click)="FcosaAzul(-1)">-</button>
dibujo raro
<button class="boton" (click)="FcosaAzul(1)">+</button><br>  {{cosaAzul}} unidades
<br>
<br>
<br>
<br>
<button class="boton" (click)="FmasUno(-1)">-</button>
ficha +1 son 
<button class="boton" (click)="FmasUno(1)">+</button><br> {{masUno}} unidades
<br>
<br>
<button class="boton" (click)="Fcero(-1)">-</button>
ficha +0 son 
<button class="boton" (click)="Fcero(1)">+</button><br> {{cero}} unidades
<br>
<br>
<button class="boton" (click)="FmenosUno(-1)">-</button>
ficha -1 son 
<button class="boton" (click)="FmenosUno(1)">+</button><br> {{menosUno}} unidades
<br>
<br>
<button class="boton" (click)="FmenosDos(-1)">-</button>
ficha -2 son 
<button class="boton" (click)="FmenosDos(1)">+</button><br> {{menosDos}} unidades
<br>
<br>
<button class="boton" (click)="FmenosTres(-1)">-</button>
ficha -3 son 
<button class="boton" (click)="FmenosTres(1)">+</button><br> {{menosTres}} unidades
<br>
<br>
<button class="boton" (click)="FmenosCuatro(-1)">-</button>
ficha -4 son 
<button class="boton" (click)="FmenosCuatro(1)">+</button><br> {{menosCuatro}} unidades
<br>
<br>
<button class="boton" (click)="FmenosCinco(-1)">-</button>
ficha -5 son
<button class="boton" (click)="FmenosCinco(1)">+</button><br>  {{menosCinco}} unidades
<br>
<br>
<button class="boton" (click)="FmenosSeis(-1)">-</button>
ficha -6 son 
<button class="boton" (click)="FmenosSeis(1)">+</button><br> {{menosSeis}} unidades
<br>
<br>
<button class="boton" (click)="FmenosSiete(-1)">-</button>
ficha -7 son
<button class="boton" (click)="FmenosSiete(1)">+</button><br>  {{menosSiete}} unidades
<br>
<br>
<button class="boton" (click)="FmenosOcho(-1)">-</button>
ficha -8 son 
<button class="boton" (click)="FmenosOcho(1)">+</button><br> {{menosOcho}} unidades
</div>